#Flutter App
app/*.class
app/*.log
app/*.pyc
app/*.swp
app/.DS_Store
app/.atom/
app/.build/
app/.buildlog/
app/.history
app/.svn/
app/.swiftpm/
app/migrate_working_dir/

app/*.iml
app/*.ipr
app/*.iws
app/.idea/

app/doc/api/
app/ios/Flutter/.last_build_id
app/.dart_tool/
app/.flutter-plugins-dependencies
app/.pub-cache/
app/.pub/
app/build/
app/coverage/

app/*.symbols

app/*.map.json

app/android/app/debug
app/android/app/profile
app/android/app/release

app/.env

#Server IA
server_ia/__pycache__/
server_ia/*.py[cod]
server_ia/*$py.class

server_ia/venv/
server_ia/env/

server_ia/catboost_info/

server_ia/.env

server_ia/*.pkl
server_ia/*.csv

server_ia/models/scripts/
server_ia/**/*.pkl
server_ia/**/*.h5
server_ia/**/*.model